.desktop_new .icon {
  color: #ffffff;
  // background-color: #3a3a3a;
  border-radius: 20%;
  padding-left: 15px;
  padding-right: 15px;
  // margin-left: 5px;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
}